*{
    margin: 0;
    padding: 0;
}
.modau{
    background-color: whitesmoke;
}
.gioithieu{
    
    list-style: none;
    display: flex;
}
 header a{
    
    text-decoration: none;
    color: gray;
}
.start-left li{
    border: 1px solid white;
    text-align: center;
    padding: 0 10px;
   
}
.trai{
    width: 250px;
    height: 30px;
}
.giua{
    width: 300px;
    height: 30px;
}
.phai{
    width: 150px;
    height: 30px;
}
.phaitimkiem{
    width: 150px;
    height: 30px;
}
.start-left{
    display: flex;
    width: 1000px;
    
}

.start-right{
    display: flex;
    margin: 0 15%;
}
.start-right li{
    width: 100px;
    height:30px;
    text-align: center;
}

.menu li{
    list-style: none;
    border: 1px solid white;
    
}
.menu ul{
    display: flex;
    margin: 0 10%;
}
.menu img{
    width: 80px;
    height: 40px;
}
.menu ul li a:hover{
    color: red;
} 
.trai1{
    padding: 5px;
    margin: 0 1%;
}
.giua1{
    margin: 0 5%;
    display: flex;
}
.giua1 li {
    text-align: center;
}
.phai1{
    margin: 0 10%;
    display: flex;
}
.phai1 li {
    border: 2px solid white;
}
.banner img{
    width: 100%;
}
section ul{
    list-style:none ;
    display: flex;
    justify-content: space-between;
    margin: 0 10%;
}
section ul li a{
    color:black;
}
ul li a i{
    /* width: 50px; */
    height: 20px;
}
.indam{
    font-weight: bold;
}
.thuong{
    margin: 0 8%;
}
section ul li {
    width: 400px;
    height: 60px;
    /* border: 1px solid red; */
    padding: 5px;
} 
.tieude h2{
    margin: 0 40%;
    width: 280px;
   
    border-bottom: 1px solid black;
}
.thongtin2 span{
    margin: 0 10%;
}
h2:hover{
    color:red
}
.sanphamshop{
    margin: 0 10%;
    
    
}
.container img{
    width: 220px;
    height: 200px;
    border: 1px solid gray;
}
.tieude21 h2{
    text-align: center;
    margin: 0 44%;
    width: 140px;
   
    border-bottom: 1px solid black;
}
.imgbannergioithieu{
    margin: 0 22%;
}
h2{
    margin: 0 27%;
}

.imggioithieu{
    margin: 0 22%;
}
.giaithuong{
    margin: 0 22%;
}
.imggioithieu img{
    margin: 0 1%;
    width: 250px;
    height:200px
    
}
.traogiai{
    margin: 0 35%;
}
.traogiai img{
    width: 400px;
}
.bannertong{
    display: flex;
    margin: 0 7%;
   
}
.bannertong img{
    width: 550px;
    height: 180px;
    border: 10px solid white;
}
.tieude3 h2{
    margin: 0 33%;
    width: 500px;
   
    border-bottom: 1px solid black;
}
.slide video{
    margin: 0 10%;
    width: 80%;
    height: 500px;
}
.info{
    width: 100%;
    display: flex;
    
    justify-content: space-around;
}
.info img{
    
    width: 450px;
    height: 300px;
}
h4{
    font-size: 14px;
    /* text-align: center; */
    padding: 5px;
    margin: 0 3%;
    
}
.nhacungcap{
    width: 100%;
    height: 100px;
    background-color:whitesmoke;
}
.nhacungcap img{
    padding: 11px;
}
.thongtindoitac{
    background-image: url('img/ft3.jpg') ;
    background-size: 100%;
    background-size: height 1000px;
    padding:50px;
    padding: 20px;
    padding:20px;
    
    opacity:0.9;
    background-repeat: no-repeat;
    
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-around;
}


.thongtindoitac span{
    color:white;
}
.lienhe{
    display: flex;
    width: 100%;
    height: 40px;
    /* border: 1px solid black; */
    background-color:whitesmoke;
    
}
.lienhe span{
    margin: 0 5%;
    padding:10px;
}
.thongtinphai{
    /* border: 1px solid black; */
    margin: 0 10%;
    
}
.lienhe span a{
    text-decoration: none;
   
    
}
.lienhe2{
    margin: 0 10%;
    background-color:whitesmoke;
    display: flex;
}
.lienhe2 a{
    padding: 10px;
}
.tongfooter{
    display: flex;
    background-color:whitesmoke;
}


